@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.header {
  background: #FFF;
  -webkit-box-shadow: 1px 1px 7px #999; 
  -moz-box-shadow: 1px 1px 7px #999;
  box-shadow: 1px 1px 7px #999;    
}

.header a {
    margin-left: 20px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    bottom: 0;
}

.footer span {
    font-size: 12px;
}

.footer ul {
    list-style: none;
    margin-top: 20px;
}

.footer ul li {
    display: inline;
    margin-left: 15px;
}

.social{
    width:1.6em;
}

.social:hover {
    animation: tremble 0.2s;
    animation-iteration-count: 2;
}

@keyframes tremble {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

/*  LANDING   */
#navbarSite a.nav-link{
    display: inline-block;
    padding: 22px;
    line-height: normal;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: all 1s ease;
    border-bottom: 2px solid transparent;
} 

.cadastro {
    font-size: 8px;
}

#navbarSite a.nav-link:hover {
    color: #2669EE !important;
    border-bottom: 1px solid #2669EE;
    padding-bottom: 3px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
    font-size: 35px;
    display: none;
}

#btnScrollToTop:active {
    background: #cc2333;
}

#btnScrollToTop i {
    font-size: 30px;
}

.btn-template {
    border-radius: 0.5em;
    background-color: #339CFF;
    border: none;
}

.btn-template2 {
    border-radius: 0.5em;
    background-color: #339CFF;
    border: none;
}

#logo-text {
    font-size: 1.2em;
    margin-left: 0.2em;
}

#btn-cadastrar {
    font-size: 1.3em;
}
/* FIM LANDING */

/* LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */
/* CONTAINER PRINCIPAL */
#container-geral {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-height: 75%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background-template {
    background-color: #EEEEEE;
    color: white;
    height: 14em;
    text-align: center;
    padding: 3em;
    position: relative;
}

#background-template-perfil{

    background-color: #0468A9;
    color: #EEEEEE;
    height: 14em;
    text-align: center;
    padding: 3em;
    position: relative;
}

.container-template {
    margin-top: -5em;
    padding: 3em;
    padding-top: 3em;
    width: 30%;
    position: relative;
    background-color: white;
    border-radius: 1em;
    text-align: center;
}

.container-template2 {
  margin-top: -5em;
  padding: 2em;
  padding-top: 3em;
  width: 40%;
  position: relative;
  background-color: white;
  border-radius: 1em;
  text-align: center;
}

#container-contato{
    width: 35em;
}


#container-contato input{
    margin: 1% auto; 
    width: 100%;
    height: 3em;  
}


#container-sobre{
    width: 50%;
}

.container-template input, #container-perfil .form-control{
  background-color: #F0F5F9;
  height: 3em;
  margin: 0 auto;
  border: none;
}

.container-template .btn-template{
    padding: 0.5em 0;
    width: 80%;
    font-size: 20px;
}

.container-template2 .btn-template2{
    padding: 0.5em 0;
    width: 80%;
    font-size: 20px;
}

.container-template input::placeholder, #container-perfil .form-control::placeholder {
    color: #C3C3C3;
}

.container-template input:focus {
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}

.texto-recupera {
  color: #666;
  font-size: 16px;
}

/* FIM - LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */

.grafico-balanco {
  background: #FFF;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  margin: 40px 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 3px 10px #999; 
  -moz-box-shadow: 3px 3px 10px #999;
  box-shadow: 3px 3px 10px #999; 
}

.graficos-content {
  display: flex;
  margin: 30px auto;
}

.graficos {
  background: #FFF;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 3px 10px #999; 
  -moz-box-shadow: 3px 3px 10px #999;
  box-shadow: 3px 3px 10px #999; 
}

.graficos h4 {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.categoria-despesas {
  width: 100%;
  height: 100%;
}

.categoria-receitas {
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  margin: 0 auto;
  padding: 15px;
}

.card-dash {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
    background: #FFF;
    list-style: none;
    -webkit-box-shadow: 3px 3px 10px #999; 
    -moz-box-shadow: 3px 3px 10px #999;
    box-shadow: 3px 3px 10px #999; 
    transition: 1s;
}

.card-dash:hover {
    transform: scale(1.02);
}

.card-dash:nth-child(1n) {
    margin-left: 15px;
}

.card-dash a {
    display: flex;
    justify-content: space-between;
}

.card-dash a:hover {
    text-decoration: none;
}

.card-dash p {
    font-size: 22px;
    font-weight: 600;
    transition: 1s;
    margin: 20px 0 auto;
  }

.text-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #FFF;
  padding: 20px;
  list-style: none;
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 10px #999; 
  -moz-box-shadow: 3px 3px 10px #999;
  box-shadow: 3px 3px 10px #999; 
  transition: 1s;
}

.text-card:nth-child(1n) {
  margin-left: 15px;
}

.text-card:hover {
  transform: scale(1.02);
}

.text-card h4 {
  font-weight: 600;
  color: #B2BABB;
}

.text-card p {
  font-size: 24px;
  font-weight: 600;
  transition: 1s;
  margin: 20px 0 auto;
}

.grid {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  margin-left: 15px;
}

.img-cards {
  width: 100%;
}

/* HEANDER TELAS */
.img-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.texto-nome {
    font-size: 22px !important;
    color: #F39C12 !important;
}

.texto-email {
    font-size: 14px !important;
    color: #3498DB !important; 
}



/*.texto-avatar {
  text-align: right;
  margin-right: 15px;
}

.texto-avatar p {
    margin: 0;
}

.texto-email {
  font-size: 14px;
  color: #666;
}

.texto-avatar p strong {
    font-size: 16px;
}

.texto-perfil {
    display: flex;
}

.texto-perfil {
    list-style: none;
}

.avatar-perfil {
    color: rgba(52, 152, 219, 0.6);
    transition: 1s;
}

.avatar-perfil:hover {
    color: rgba(52, 152, 219, 0.1);
} */

.avatar-sair a {
    color: red;
    transition: 1s;
}

.avatar-sair a:hover {
    color: darkred;
}

/* FIM HEADER TELAS*/

/* MENU LATERAL */
.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    color: #666 !important;
}

.btn-menu a label:hover {
    cursor: pointer;
    color: #2669EE;
} 

#btn-menu {
    display: none;
    
}

.btn-menu label {
    font-size: 38px;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #343a40;
    height: 100vh;
    max-height:1000px;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    overflow-y: scroll;    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont-menu::-webkit-scrollbar {
    display: none;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #FFF;
    background: #34495E;
}
.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.menu-hiden {
    margin-right: 10px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}

.footer-version {
    display:flex;
    justify-content: center;
    margin-top: 60%;
}

.version {
    font-size: 14px;
    color: #FFF;
}

/* FIM MENU LATERAL */

/*INICIO CATEGORIA*/
.container-categorias {
    background-color: #ffffff;
    margin: auto;
    width: 60em;
}

.lista-visualizacao-categorias li {
    
    list-style-type: none;
    cursor: pointer;
}


.categoria-lista-dinamica {
    cursor: pointer;
    border-bottom: solid 2px rgba(100,100,255,1);
    background-color:#F0F5F9;
}

 .subcategoria-editavel {
    width: calc(100% - 160px)
}

/* .botao-salvar, .botao-remover {
}  */

.color-custom {
    color: rgb(135, 4, 168);
}

.categoria-lista-dinamica:nth-child(1) {
    margin: 30px 0 0 0;
}

/*FIM CATEGORIA*/

/*EDITAR PERFIL*/
#container-perfil {
    margin-top: -5em;
    padding: 2em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    width: 40em;
    box-shadow: 2px -8px 20px 0px;
}

#img-perfil{
    position: relative;
    margin-top: -7em;
    object-fit: cover;
}

.img-perfil-container {
   width: 180px;
   height: 180px;
   margin-top: -20%;
   object-fit: cover; 
   object-position: center;
   display: flex;
   position: relative;

}

#img-perfil {
    margin: 0;
    border-radius: 50%;
}

#img-select {
    display: none;    
}

.btn-img-select {
    position: absolute;
    bottom: 5px;
    right: 3px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #666;
    transition: 1s;

}

.btn-img-select:hover {

    background-color: #0468A9;
    color: #fafafa;
}

/*FIM EDITAR PERFIL*/

/* INICIO DASHBOARD CONTENT */
.conteudo {
    max-width: 1200px;
    margin: 0 auto;
}

.select-dateDash {
    margin: 20px 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background: #2962FF;
}

.select-tipoReceitas {
    margin: 20px 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ABB2B9;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background: #229954;
}

.select-tipoReceitas:focus {
    outline-style: none;
}

.select-tipoReceitas:hover {
    background: #27AE60;
}

.select-tipoDespesas {
    margin: 20px 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ABB2B9;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background: #A93226;
}

.select-tipoDespesas:focus {
    outline-style: none;
}

.select-tipoDespesas:hover {
    background: #C0392B;
}

.optionCoresDash {
    border: 1px solid blue;
    background: #FFF;
    color: #000000;
}

.select-dateDash:focus {
    outline-style: none;
}

.select-date {
    margin: 20px 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ABB2B9;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    transition: 1s;
}

.select-date {
    outline-style: none;
}

.optionCores {
    border: 1px solid blue;
    background: #FFF;
    color: #000000;
}


.dash-title {
    margin: 20px 10px;
    font-size: 32px;
    color: #2669EE;
    font-weight: 800;
}

.topo-content {
    display: flex;
    justify-content: space-between;
}

.cards-despesas {
    display: flex;  
}

.cards-despesas  li {
    list-style: none;
    background: #FFF;
    width: 30%;
    vertical-align: top;
    padding: 15px 15px;
    margin-left: 25px;
    box-sizing: border-box;
  
    border-radius: 16px;
    border: none;

    -webkit-box-shadow: 3px 3px 10px #999; 
    -moz-box-shadow: 3px 3px 10px #999;
    box-shadow: 3px 3px 10px #999; 
}

.cards-despesas  li h2 {
    font-size: 26px;
    color: #3F3844;
}

.cards-despesas  li p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: #F44336;
    transition: 1s;
}

.cards-despesas  li:hover {
    background: #F7F9F9;
}

.cards-despesas  li:hover p {
    font-size: 26px;
    font-weight: bold;
}

.cards-despesas  li img {
    width: 10%;
    margin-left: 90%;
}

.cards-receitas li {
    list-style: none;
    background: #FFF;
    width: 30%;
    vertical-align: top;
    padding: 15px 15px;
    margin-left: 25px;
    box-sizing: border-box;
  
    border-radius: 6px;
    border: none;

    -webkit-box-shadow: 3px 3px 7px #999; 
    -moz-box-shadow: 3px 3px 7px #999;
    box-shadow: 3px 3px 7px #999; 
}

.cards-receitas {
    display: flex;  
}

.cards-receitas  li h2 {
    font-size: 26px;
    color: #3F3844;
    transition: 1s;
}

.cards-receitas  li p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: forestgreen;
}

.cards-receitas li:hover {
    background: #F7F9F9;
}

.cards-receitas li:hover h2 {
    font-size: 30px;
    font-weight: bold;
}

.cards-receitas li img {
    width: 10%;
    margin-left: 90%;
}

.total-receitas {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #04A922;
}

.total-despesas {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #EE504B;
}

.total-cartao {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #EE504B;
}

.total-saldo {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #2669EE;
}

.cards-category {
    display: flex;
    margin: 20px auto;

}

.cards-category div h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-left: 10px;
    color: #666;
   
}

.card-category {
    width: 615px;
    height: 450px;
    background: #FFF;
    margin: 15px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-category p {
    font-size: 18px;
    color: #2669EE;
}

.pending-expenses-card {
    background: #FFF;
    width: 100%;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table {
    margin: 30px 10px 200px 10px;
    background: #FFF;
    border-radius: 16px;
    -webkit-box-shadow: 3px 3px 10px #999; 
    -moz-box-shadow: 3px 3px 10px #999;
    box-shadow: 3px 3px 10px #999; 
    transition: 1s;
}

tbody tr {
    transition: 0.8s all;
}

tbody tr:hover {
    background: #EBF5FB;
    border-radius: 5px;
}

.tabela-dash {
    background: #FFF;
    margin-left: 25px;
    padding: 15px;
}

.titulo-tabela {
    margin: 0 0 0 25px;
    color: #0000008A;

}

.balanco-card {
    background: #FFF;
    width: 600px;
    height: 200px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.balance {
    margin-top: 35px;
}

.balance h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-left: 335px;
    color: #666;
}

/* FIM DASHBOARD CONTENT */

.btn-adiciona {
    margin-top: 12px;
    margin-right: 53px;
    font-size: 26px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2669EE;
    color: #FFF;
    border: none;
    transition: 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.btn-adiciona:focus {
    outline-style: none;
}

.btn-adiciona:hover {
    background: #52BE80;
}

.modal-conteudo {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-conteudo.mostrar {
    display: flex;
}

.moda {
    background: #FFF;
    width: 40%;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .moda {
    animation: modal 1s;
}

.fechar {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: none;
    background: transparent;
    font-size: 1.2em;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    outline: 0;
}

.fechar:focus {
    outline-style: none;
}

.fechar:hover {
    color: #F1948A;
}

.fadeOut {
    opacity: 0;
    transition: 2s;
}

.form-add {
    margin: 40px 0;
}

.form-add label {
    color: #767676;
    font-weight: 500;
    display: block;
    font-size: 1em;
    margin: 0 0 10px;
 }

 .input-valor {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #F44336;
    margin: 0;
    padding: 10px 30px;
    width: 100%;
    height: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #D5D8DC;
 }

 .input-valor:focus {
    outline-style: none;
    border-bottom-color: darkorchid;
}

.input-saldo {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #F44336;
    margin: 0;
    padding: 10px 30px;
    width: 100%;
    height: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #D5D8DC;
 }

 .input-saldo:focus {
    outline-style: none;
    border-bottom-color: darkorchid;
}

.input-padrao {
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #D5D8DC;
}

.input-padrao:focus {
    outline-style: none;
    border-bottom-color: darkorchid;
}

.inputs-form {
    margin-top: 25px;
}

.escolha {
    margin-top: 15px;
}

.select-padrao {
    border: solid 1px #D5D8DC;
    border-radius: 10px;
    color:#000000;
    padding: 15px;
    width: 100%;
    height: 47px;
    font-size: 14px;
}

.vai {
    border-radius: 10px;
}

.select-padrao:focus {
    outline-style: none;
   border-color: darkorchid;
}

.btn-addnova {
    margin: 30px 0 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    background:#2ECC71;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    transition: 1s;
}

.btn-addnova:hover {
    background: #186A3B;
}

.btn-addnova:focus {
    outline-style: none;
}

.info-valorDespesa {
    color: red;
}

.info-saldo {
    color: red;
}

.info-valorReceita {
    color: #4CAF50;
}

.info-saldoConta {
    color: #4CAF50;
}

.status-paga {
    font-weight: bold;
    color: #4CAF50;
}

.status-efetuada {
    font-weight: bold;
    color: #4CAF50;
}

.status-pendente {
    font-weight: bold;
    color: #D14803;
}

.status-invisivel {
    display: none;
}

.add-button-container {
    text-align: right;
    margin-top: 10px;

}

button.add-categoria {
    background-color: #0468A9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 29px;
    border-radius: 36px;
    color: #ffffff;
    width: 47px;
}

.img-controler {
    width: 80%;
}

.btn-efetuar {
    background: transparent;
    border: none;
    border-radius: 50%;
}   

.btn-efetuar:hover {
    background: #D5F5E3;
    transform: scale(1.1);
}

.btn-efetuar:focus {
    outline-style: none;
}

.btn-altera {
    background: transparent;
    border: none;
    border-radius: 50%;
}   

.btn-altera:hover {
    background: #D6EAF8;
    transform: scale(1.1);
}

.btn-altera:focus {
    outline-style: none;
}

.btn-deletar {
    background: transparent;
    border: none;
    border-radius: 50%;
}   

.btn-deletar:hover {
    background: #FADBD8;
    transform: scale(1.1);
}

.btn-deletar:focus {
    outline-style: none;
}

.cifrao {
    position: absolute;
    margin-top: 7px;
    padding: 0 0 35px 0;
    font-size: 20px;
    font-weight: 600;
    color: #F44336;
}

input::placeholder {
    color: #F44336;
}

.divisoria {
    margin: 15px auto;
    width: 95%;
}

.erro-texto {
    margin: 0;
    font-size: 12px;
    color: #FF6D00;
}

.erro-invisivel {
    display: none;
}

.oculta-tabela {
    display: none;
}

.div-imgSem {
    width: 350px;
    margin: 20px auto;
}

.div-imgSem p {
    font-size: 18px;
    font-weight: bold;
    color: #9E9E9E;
}

.img-sem {
    width: 100%;
    opacity: 0.5;
}

.semLancamento {
    display: none;
}

.comLancamento {
    display: none;
}

.categorias-content {
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
}

.titulo-categorias {
    color: #2669EE;
    padding: 20px;
    font-weight: bold;
    margin-left: 100px;
}

.despesa-bloco {
    max-width: 600px;
    margin: 50px auto;
    background: crimson;
    padding: 20px;
    background: #FFF;
    border-radius: 16px;
    -webkit-box-shadow: 3px 3px 7px #999; 
    -moz-box-shadow: 3px 3px 7px #999;
    box-shadow: 3px 3px 7px #999;
}
.despesa-bloco h2 {
    font-size: 36px;
    color: #C0392B;
    font-weight: bold;
    text-align: center;
}

.categorias-item {
    width: 90%;
    background: #CD6155;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border: none;
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 7px #999; 
    -moz-box-shadow: 3px 3px 7px #999;
    box-shadow: 3px 3px 7px #999; 
}

.categorias-item:hover  {
    opacity: 0.9;
}

.categorias-item span {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}