@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.header {
    -webkit-box-shadow: 1px 1px 7px #999; 
    -moz-box-shadow: 1px 1px 7px #999;
    box-shadow: 1px 1px 7px #999;    
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

footer ul li {
    display: inline;
    margin-left: 15px;
}

footer img {
    width: 2em;
}

footer {
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
}

.footer-social{
    background-color: #333;
}

.social{
    width:1.6em;
}

.social:hover {
    animation: tremble 0.2s;
    animation-iteration-count: 2;
}

@keyframes tremble {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

/*  LANDING   */
#navbarSite a.nav-link{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #666 !important;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
} 

#navbarSite a.nav-link:hover {
    color: #2669EE !important;
    border-bottom: 2px solid #2669EE;
    padding-bottom: 5px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
    font-size: 35px;
    display: none;
}

#btnScrollToTop:active {
    background: #cc2333;
}

#btnScrollToTop i {
    font-size: 30px;
}

.btn-template {
    border-radius: 0.5em;
    background-color: #339CFF;
    border: none;
}

#logo-text {
    font-size: 1.2em;
    margin-left: 0.2em;
}

#btn-cadastrar {
    font-size: 1.3em;
}
/* FIM LANDING */

/* LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */
/* CONTAINER PRINCIPAL */
#container-geral {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-height: 85%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background-template {
    background-color: #0468A9;
    color: white;
    height: 15em;
    text-align: center;
    padding: 3em;
    position: relative;
}

.container-template {
    margin-top: -5em;
    padding: 2em;
    padding-top: 3em;
    width: 35em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    text-align: center;
}

.container-objetivos {
    margin-top: -5em;
    padding: 2em;
    padding-top: 3em;
    width: 70em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    text-align: center;
}

.objetivo {
    margin-top: em;
    padding: 2em;
    padding-top: 3em;
    width: 15em;
    position: relative;
    background-color: brown;
    border-radius: 1em;
    text-align: center;
}

#container-contato{
    width: 70em;
}

#container-objetivos {
    width: 40em;
}

#container-contato input{
    margin: 1% auto; 
    width: 100%;
    height: 3em;  
}

#conteiner-objetivos input {
    margin: 1% auto;
    width: 100%;
    height: 3em;
}

#container-sobre{
    width: 50em;
}

.container-template input, #container-perfil .form-control{
    background-color: #F0F5F9;
    height: 3em;
    margin: 0 auto;
    border: none;
}

.container-template .btn-template{
    padding: 0.5em 6em 0.5em 6em;
    font-size: 20px;
}

.container-template input::placeholder, #container-perfil .form-control::placeholder {
    color: #C3C3C3;
}

.container-template input:focus {
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

.texto-recupera {
    color: #666;
    font-size: 16px;
}

/* FIM - LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */

/* HEANDER TELAS */
.img-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.texto-avatar {
    text-align: right;
    margin-right: 15px;
}

.texto-avatar p {
    margin: 0;
}

.texto-email {
    font-size: 12px;
    color: #666;
}

.texto-avatar p strong {
    font-size: 16px;
}

.texto-perfil {
    display: flex;
}

.texto-perfil li {
    margin-left: 25px;
}

.texto-perfil {
    list-style: none;
}

.avatar-perfil {
    font-size: 14px;
    color: #2669EE;
}

.avatar-perfil a {
    text-decoration: none;
}

.avatar-perfil a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.avatar-sair  a {
    text-decoration: none;
    font-size: 14px;
    color: #DF2F09;
}

.avatar-sair  a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* FIM HEADER TELAS*/

/* MENU LATERAL */
.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}
.container .btn-menu label {
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    color: #666 !important;
}

#btn-menu {
    display: none;
}

.btn-menu label {
    font-size: 38px;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #343a40;
    height: 100vh;
    max-height:1000px;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    overflow-y: scroll;    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont-menu::-webkit-scrollbar {
    display: none;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #FFF;
    background: #34495E;
}
.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.menu-hiden {
    margin-right: 10px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}

.footer-version {
    display:flex;
    justify-content: center;
    margin-top: 40%;
}

.version {
    color: #FFF;
}

/* FIM MENU LATERAL */

/*INICIO CATEGORIA*/
.container-categorias {
    background-color: #ffffff;
    margin: auto;
    width: 60em;
}

.lista-visualizacao-categorias li {
    
    list-style-type: none;
}


.categoria-lista-dinamica {
    cursor: pointer;
    border-bottom: solid 4px rgba(100,100,255,1);
    background-color: rgba(0,0,255,0.15);
}

 .subcategoria-editavel {
    width: calc(100% - 160px)
}

/* .botao-salvar, .botao-remover {
}  */

.color-custom {
    color: rgb(135, 4, 168);
}

.categoria-lista-dinamica:nth-child(1) {
    margin: 30px 0 0 0;
}

/*FIM CATEGORIA*/

/*EDITAR PERFIL*/
#container-perfil {
    margin-top: -5em;
    padding: 2em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    width: 40em;
}

#img-perfil{
    position: relative;
    margin-top: -7em;
}

/*FIM EDITAR PERFIL*/