@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #FFF;
    -webkit-box-shadow: 1px 1px 7px #999; 
    -moz-box-shadow: 1px 1px 7px #999;
    box-shadow: 1px 1px 7px #999;    
}
.header a {
    margin-left: 20px;
}

.footer {
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
}

.footer span {
    font-size: 12px;
}

.footer ul {
    list-style: none;
    margin-top: 20px;
}

.footer ul li {
    display: inline;
    margin-left: 15px;
}

.social{
    width:1.6em;
}

.social:hover {
    animation: tremble 0.2s;
    animation-iteration-count: 2;
}

@keyframes tremble {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

/*  LANDING   */
#navbarSite a.nav-link{
    display: inline-block;
    padding: 22px;
    line-height: normal;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
} 

.cadastro {
    font-size: 8px;
}

#navbarSite a.nav-link:hover {
    color: #2669EE !important;
    border-bottom: 2px solid #2669EE;
    padding-bottom: 5px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
    font-size: 35px;
    display: none;
}

#btnScrollToTop:active {
    background: #cc2333;
}

#btnScrollToTop i {
    font-size: 30px;
}

.btn-template {
    border-radius: 0.5em;
    background-color: #339CFF;
    border: none;
}

#logo-text {
    font-size: 1.2em;
    margin-left: 0.2em;
}

#btn-cadastrar {
    font-size: 1.3em;
}
/* FIM LANDING */

/* LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */
/* CONTAINER PRINCIPAL */
#container-geral {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-height: 85%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background-template {
    background-color: #0468A9;
    color: white;
    height: 15em;
    text-align: center;
    padding: 3em;
    position: relative;
}

.container-template {
    margin-top: -5em;
    padding: 2em;
    padding-top: 3em;
    width: 35em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    text-align: center;
}

#container-contato{
    width: 70em;
}


#container-contato input{
    margin: 1% auto; 
    width: 100%;
    height: 3em;  
}


#container-sobre{
    width: 50em;
}

.container-template input, #container-perfil .form-control{
    background-color: #F0F5F9;
    height: 3em;
    margin: 0 auto;
    border: none;
}

.container-template .btn-template{
    padding: 0.5em 6em 0.5em 6em;
    font-size: 20px;
}

.container-template input::placeholder, #container-perfil .form-control::placeholder {
    color: #C3C3C3;
}

.container-template input:focus {
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

.texto-recupera {
    color: #666;
    font-size: 16px;
}

/* FIM - LOGIN / CADASTRO / RECUPERAR-SENHA / REDEFINIR-SENHA / EDITAR-PERFIL / CATEGORIA / SOBRE / CONTATO  */

/* HEANDER TELAS */
.img-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.texto-avatar {
    text-align: right;
    margin-right: 15px;
}

.texto-avatar p {
    margin: 0;
}

.texto-email {
    font-size: 12px;
    color: #666;
}

.texto-avatar p strong {
    font-size: 16px;
}

.texto-perfil {
    display: flex;
}

.texto-perfil li {
    margin-left: 25px;
}

.texto-perfil {
    list-style: none;
}

.avatar-perfil {
    font-size: 14px;
    color: #2669EE;
}

.avatar-perfil a {
    text-decoration: none;
}

.avatar-perfil a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.avatar-sair  a {
    text-decoration: none;
    font-size: 14px;
    color: #DF2F09;
}

.avatar-sair  a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* FIM HEADER TELAS*/

/* MENU LATERAL */
.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    color: #666 !important;
}

.btn-menu a label:hover {
    cursor: pointer;
    color: #2669EE;
} 

#btn-menu {
    display: none;
    
}

.btn-menu label {
    font-size: 38px;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #343a40;
    height: 100vh;
    max-height:1000px;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    overflow-y: scroll;    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont-menu::-webkit-scrollbar {
    display: none;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #FFF;
    background: #34495E;
}
.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.menu-hiden {
    margin-right: 10px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}

.footer-version {
    display:flex;
    justify-content: center;
    margin-top: 40%;
}

.version {
    color: #FFF;
}

/* FIM MENU LATERAL */

/*INICIO CATEGORIA*/
.container-categorias {
    background-color: #ffffff;
    margin: auto;
    width: 60em;
}

.lista-visualizacao-categorias li {
    
    list-style-type: none;
    cursor: pointer;
}


.categoria-lista-dinamica {
    cursor: pointer;
    border-bottom: solid 2px rgba(100,100,255,1);
    background-color:#F0F5F9;
}

 .subcategoria-editavel {
    width: calc(100% - 160px)
}

/* .botao-salvar, .botao-remover {
}  */

.color-custom {
    color: rgb(135, 4, 168);
}

.categoria-lista-dinamica:nth-child(1) {
    margin: 30px 0 0 0;
}

/*FIM CATEGORIA*/

/*EDITAR PERFIL*/
#container-perfil {
    margin-top: -5em;
    padding: 2em;
    position: relative;
    background-color: white;
    border-radius: 1em;
    width: 40em;
}

#img-perfil{
    position: relative;
    margin-top: -7em;
}

.img-perfil-container {
   width: 180px;
   height: 180px;
   margin-top: -20%;
   object-fit: cover; 
   object-position: center;
   display: flex;
   position: relative;
}

#img-perfil {
    margin: 0;
    border-radius: 50%;
}

#img-select {
    display: none;    
}

.btn-img-select {
    position: absolute;
    bottom: 5px;
    right: 3px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #666;

}

.btn-img-select:hover {
    background-color: #0468A9;
    color: #fafafa;
}

/*FIM EDITAR PERFIL*/

/* INICIO DASHBOARD CONTENT */
.conteudo {
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto;
}

.select-date {
    margin: 20px 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.dash-title {
    margin: 20px 10px;
    font-size: 32px;
    color: #2669EE;
    font-weight: 800;
}

.topo-content {
    display: flex;
    justify-content: space-between;
}

.cards-despesas {
    display: flex;  
}

.cards-despesas  li {
    list-style: none;
    background: #FFF;
    width: 30%;
    vertical-align: top;
    padding: 15px 15px;
    margin-left: 25px;
    box-sizing: border-box;
  
    border-radius: 6px;
    border: none;

    -webkit-box-shadow: 2px 2px 7px #999; 
    -moz-box-shadow: 2px 2px 7px #999;
    box-shadow: 2px 2px 7px #999; 
}

.cards-despesas  li h2 {
    font-size: 26px;
    color: #3F3844;
}

.cards-despesas  li p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: #cc2333;
}

.cards-despesas  li:hover {
    background: #F7F9F9;
}

.cards-despesas  li:hover h2 {
    font-size: 30px;
    font-weight: bold;
}

.cards-despesas  li img {
    width: 10%;
    margin-left: 90%;
}

.cards-receitas li {
    list-style: none;
    background: #FFF;
    width: 30%;
    vertical-align: top;
    padding: 15px 15px;
    margin-left: 25px;
    box-sizing: border-box;
  
    border-radius: 6px;
    border: none;

    -webkit-box-shadow: 2px 2px 7px #999; 
    -moz-box-shadow: 2px 2px 7px #999;
    box-shadow: 2px 2px 7px #999; 
}

.cards-receitas {
    display: flex;  
}

.cards-receitas  li h2 {
    font-size: 26px;
    color: #3F3844;
}

.cards-receitas  li p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: forestgreen;
}

.cards-receitas li:hover {
    background: #F7F9F9;
}

.cards-receitas li:hover h2 {
    font-size: 30px;
    font-weight: bold;
}

.cards-receitas li img {
    width: 10%;
    margin-left: 90%;
}

.total-receitas {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #04A922;
}

.total-despesas {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #EE504B;
}

.total-cartao {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #EE504B;
}

.total-saldo {
    padding-left: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #2669EE;
}

.cards-category {
    display: flex;
    margin: 20px auto;

}

.cards-category div h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-left: 10px;
    color: #666;
   
}

.card-category {
    width: 615px;
    height: 450px;
    background: #FFF;
    margin: 15px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-category p {
    font-size: 18px;
    color: #2669EE;
}

.pending-expenses-card {
    background: #FFF;
    width: 100%;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table {
    margin: 50px auto;
    background: #FFF;
    border-radius: 16px;
}

tbody tr {
    transition: 1s all;
}

tbody tr:hover {
    background: #ECF0F1;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 5px;
}

.balanco-card {
    background: #FFF;
    width: 600px;
    height: 200px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.balance {
    margin-top: 35px;
}

.balance h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-left: 335px;
    color: #666;
}

/* FIM DASHBOARD CONTENT */